.calendar-template{
    background : skyblue;
    width : 525px;
    margin: 0 auto;
}

.title {
    padding : 2rem;
    font-size: 2.5rem;
    text-align : center;
    font-weight : 100;
}

.month-wrapper {
    background: white;
}

.week-wrapper {  
    background: white; 
}

.day-wrapper {
    display:1;
    background: white;
}